$lightblue:hsl(192, 100%, 67%);
$violet:hsl(280, 87%, 65%);
$gray: hsl(234, 11%, 52%);
$darkgray:hsl(233, 14%, 35%);
$lightgray:hsl(234, 39%, 85%);
$white: hsl(0, 0%, 98%);
$darkgrayishblue:hsl(240, 5%, 18%);
